:host {
    display: flex;
    background-image: url('src\assets\imgs\fon.jpg');
    background-repeat:round;
    flex-shrink: 1;
    /* overflow-x: hidden;
    overflow-y: auto; */
    height: 3000px;
    flex-direction: column;
    
}

.body-style {
    padding: 22px;
    flex-grow: 1;
}