:host {
    display: flex;
    /* background-color: aqua; */
    background-image: url('src\assets\imgs\fon.jpg');
    /* background-repeat:round; */
    background-repeat:round;
    flex-shrink: 1;
    /* overflow-x: hidden;
    overflow-y: auto; */
    height: 100vh;
    flex-direction: column;
    
}