<!-- <div *ngIf="screenService.isLarge()" class="title-bar"> -->

    <!-- <div class="small-icon-holder">
        <a><img class="img-menu" src="assets\imgs\menu.png" (click)="menuService.toggleMenu()"></a>
    </div> -->




    <div class="hoch">
        <div class="hochctbtrum">Informanion</div>
    </div>




    <!-- <div class="small-icon-holder">
        <a><img class="img-menu" src="assets\imgs\menu.png" (click)="menuService.toggleMenu()"></a>
    </div> -->

    <!-- <div class="small-icon-holder">
        <a><img class="img-menu" src="assets\imgs\menu.png" ></a>
    </div> -->

<!-- </div> -->

<!-- <div *ngIf="!screenService.isLarge()" class="title-bar-small">

   
    <div class="small-icon-holder">
        <a><img class="img-menu" src="assets\imgs\menu.png" ></a>
    </div>
    
</div> -->

<spa-header></spa-header>
<spa-content></spa-content>
<spa-footer></spa-footer>
