.hoch {
  flex-grow: 1;  
  display: flex;
  height: 40px;
  padding: 10px 0;
  background-color: rgb(21, 21, 21);
  position: fixed;
  top: 0;
  width: 100%;
  
}

.hochctbtrum {
  margin: auto;
  text-align: center;
  color: aliceblue;
  min-height: 20px;

}
.title-bar {
  flex-grow: 1;  
  display: flex;
  min-height: 190px;
  padding: 10px 0;
}

.title-bar img {
    height: 100px;
   
}

.menu-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 20px;
    
}

.Logo{
  margin: auto;
  padding-top: 30px;
}

